.task-overview {
  padding: 20px;
  background-color: #f4f4f4;
  border-radius: 8px;
}
.task-overview-container {
  width: 80%;
  margin: 0 auto;
}
.task-list {
  list-style: none;
  display: flex;
  justify-content: space-between;

  padding-left: 0;
}
.edit-form {
  margin-top: 10px;
}
.date-input {
  margin-right: 10px;
}
.sort-buttons {
  display: flex;
  gap: 10px;
}

.task-item {
  margin: 10px 0;
  padding: 15px;
  background-color: #fff;
  border-radius: 8px;
  border: 1px solid #ddd;
}

.task-item button {
  margin-right: 10px;
  padding: 5px 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.task-item button:hover {
  background-color: #45a049;
}

.completed {
  background-color: #d4edda;
}

.pending {
  background-color: #fff3cd;
}
